In [20]:
import pandas as pd

pd.DataFrame(['We Design Everything','We Design, You Watch','We Design, You Advise','We Design, You Help','You Design, We Help','You Design, We Advise','You Design, We Watch','You Design Everything'],[500,800,1000,1500,2000,3500,5000,8000],columns=['Price List'])

                 Price List
500    We Design Everything
800    We Design, You Watch
1000  We Design, You Advise
1500    We Design, You Help
2000    You Design, We Help
3500  You Design, We Advise
5000   You Design, We Watch
8000  You Design Everything

![Alt Text](https://raw.githubusercontent.com/derek-dewald/d_functions/main/images/Consulting_Fees.png)