                                 Field Value
Word                              Word
Category                      Category
Sub Categorization  Sub Categorization
Definition                  Definition
Notes                            Notes
Link                              Link
Learning Type            Learning Type
Algorithm Class        Algorithm Class
Markdown Equation    Markdown Equation

In [40]:
df1 = df[df['Word']=='Accuracy'][['Word','Category']]
df1

       Word Category
0  Accuracy      NaN

In [50]:
final_df = df.merge(df1[['Word']],on='Word',how='inner')

                           0
Word                Accuracy
Category                 NaN
Sub Categorization       NaN
Definition               NaN
Notes                    NaN
Link                     NaN
Learning Type            NaN
Algorithm Class          NaN
Markdown Equation        NaN

In [64]:
pd.DataFrame(final_df.columns.tolist())

                    0
0                Word
1            Category
2  Sub Categorization
3          Definition
4               Notes
5                Link
6       Learning Type
7     Algorithm Class
8   Markdown Equation

In [18]:
!streamlit run dashboard.py

ERROR! Session/line number was not unique in database. History logging moved to new session 465

      ðŸ‘‹ Welcome to Streamlit!

      If youâ€™d like to receive helpful onboarding emails, news, offers, promotions,
      and the occasional swag, please enter your email address below. Otherwise,
      leave this field blank.

      Email:  ^C
2025-01-23 13:39:04.473

In [10]:
import streamlit as st
import plotly.express as px

st.set_page_config(
    page_title="Data Dictionary App",
    page_icon="ðŸ“–",
    layout="wide"
)

# Streamlit app layout
st.title("Streamlit App")

# Example data
df = px.data.iris()

# Display Plotly chart
fig = px.scatter(df, x="sepal_width", y="sepal_length", color="species")
st.plotly_chart(fig)

2025-01-23 13:34:30.613
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/derekdewald/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()