In [1]:
import pandas as pd
import numpy as np
import datetime

import sys
sys.path.append("/Users/derekdewald/Documents/Python/Github_Repo/d_py_functions")


from feature_engineering import binary_complex_equivlance
from data_validation import column_comparison

df = pd.DataFrame([np.random.randint(0,100000) for x in range(1000)],columns=['OG_COL'])
multipliers = np.random.choice([0.5, 0.75, 1, 1.25, 1.5], size=len(df))
df['NEW_COL'] = df['OG_COL'] * multipliers
df["MBR_NBR"] = np.arange(1, len(df) + 1)

branch_list = [f"BRANCH{x}" for x in range(25)]
city_list =   [f"CITY{x}" for x in range(40)]

df['BRANCHNAME'] = np.random.choice(branch_list,size=(len(df)))
df['PERS'] = np.random.choice(branch_list,size=(len(df)))
df['CITY'] = np.random.choice(city_list,size=(len(df)))
df["MEMBERNBR"] = np.arange(1, len(df) + 1)

df

     OG_COL    NEW_COL  MBR_NBR BRANCHNAME      PERS    CITY  MEMBERNBR
0     91951   68963.25        1   BRANCH16   BRANCH8  CITY29          1
1     16260   24390.00        2    BRANCH0  BRANCH19  CITY21          2
2     68092   34046.00        3   BRANCH22   BRANCH6  CITY27          3
3     46269   69403.50        4   BRANCH24  BRANCH12  CITY17          4
4     17075    8537.50        5   BRANCH12  BRANCH17  CITY22          5
..      ...        ...      ...        ...       ...     ...        ...
995   80826   40413.00      996    BRANCH0  BRANCH16   CITY5        996
996   17022    8511.00      997    BRANCH4  BRANCH13  CITY31        997
997   46895   46895.00      998    BRANCH7   BRANCH3   CITY2        998
998   92877   92877.00      999   BRANCH19   BRANCH7  CITY32        999
999   73642  110463.00     1000    BRANCH8   BRANCH4  CITY36       1000

[1000 rows x 7 columns]

In [2]:
output_dict = column_comparison(df,'OG_COL','NEW_COL')

In [6]:
output_dict.keys()

dict_keys(['bin_list', 'segmentation', 'summary', 'df'])

In [4]:
output_dict['bin_list']

[-49219.0,
 -32640.909090909092,
 -21350.727272727272,
 -15328.386363636364,
 -10076.499999999998,
 -3943.0454545454527,
 939.1363636363634,
 7353.249999999994,
 13357.909090909097,
 20053.52272727274,
 32627.681818181823,
 49852.5]

In [5]:
output_dict['segmentation']

,DIFF_TEXT_SEGMENT,SEG_COUNT,SEG_SUM,SEG_MEAN,SEG_STD,SEG_MAX,SEG_MIN
0,"1) LT -32,640.91",73,-3040473.00,-41650.315068,4878.512577,-32645.00,-49219.00
1,"10) GT 20,053.52, LT 32,627.68",73,1812505.25,24828.839041,3644.693481,32377.50,20216.75
2,"11) GT 32,627.68",72,3009620.00,41800.277778,5313.289012,49774.00,32721.50
3,"2) GT -32,640.91, LT -21,350.73",72,-1911142.00,-26543.638889,3545.040665,-21352.50,-32630.00
4,"3) GT -21,350.73, LT -15,328.39",72,-1337311.00,-18573.763889,1836.043054,-15365.00,-21349.25
5,"4) GT -15,328.39, LT -10,076.50",73,-936058.75,-12822.722603,1631.825151,-10079.75,-15320.25
6,"5) GT -10,076.50, LT -3,943.05",72,-527121.00,-7321.125000,1655.705541,-4001.50,-10044.00
7,"6) GT -3,943.05, LT 939.14",275,-116732.25,-424.480909,1017.353360,922.75,-3840.75
8,"7) GT 939.14, LT 7,353.25",72,266927.00,3707.319444,1860.104537,7155.75,948.50
9,"8) GT 7,353.25, LT 13,357.91",73,758494.50,10390.335616,1769.860278,13341.00,7373.00
10,"9) GT 13,357.91, LT 20,053.52",72,1201939.75,16693.607639,1945.164524,19917.50,13434.00