In [1]:
import pandas as pd
import numpy as np
import datetime
import sys
sys.path.append("/Users/derekdewald/Documents/Python/Github_Repo/d_py_functions/")

In [4]:
import os

os.getcwd()

'/Users/derekdewald/Documents/Python/Github_Repo/JupyterNotebooks'

In [ ]:
os.listdid

In [2]:
from SharedFolder import ExtractPythonFiles

d = ExtractPythonFiles(export_file=f"D_Python_Functions_{datetime.datetime.now().strftime('%d-%b-%y')}")
d.head()

,Function Name,Description,Parameters,Returns,Date created,Date last modified,Code,File
0,IterateThroughListuntilText,Function which Iterates through a list of pyth...,lines (list of str): Input lines,str: Concatenated result up to (but not includ...,,,"def IterateThroughListuntilText(list_,text):\n...",TextFunctions.py
1,extract_doc_sections_all,"Function which iterates through text, looking ...","estimator_class: A scikit-learn class (e.g., L...","pd.DataFrame with columns: ['Section', 'Name',...",,,"def extract_doc_sections_all(estimator_class, ...",TextFunctions.py
2,CountWordsinDFColumn,Function which reads a Dataframe Column and re...,df (dataframe) column_name (str): Name of Colu...,df,,,"def CountWordsinDFColumn(df,\n ...",TextFunctions.py
3,RemovePatternFromDFColumn,Removes text matching a regex pattern from a D...,,pd.DataFrame: Modified DataFrame with cleaned ...,,,"def RemovePatternFromDFColumn(df,\n ...",TextFunctions.py
4,RemoveWordfromDFColumn,,,,,,"def RemoveWordfromDFColumn(df,\n ...",TextFunctions.py

In [ ]:
# Example usage
df = extract_function_details_ast("your_script.py")  # Replace with your actual .py file path
print(df)

In [5]:
from FeatureEngineering import CreateRandomDFColumn

In [9]:
from DataSets import GenerateFakeMemberDF


df = GenerateFakeMemberDF(10000,12)
CreateRandomDFColumn(df,['Fenway','Yankee Stadium','Wrigly'],'Stadium')
CreateRandomDFColumn(df,['John','Mark','Harry','Sally'],'Vendor')

In [17]:
def TEST(df,index_,func):
    '''
    
    '''
    gb = df.groupby(index_)
    gb_list = list(gb.groups.keys())

    for combo in gb_list:
        temp_df = gb.get_group(combo)
        return temp_df

TEST(df,columns,None)

,MEMBERNBR,MONTH,CLASSIFICATION,OUTLOOK,DEPOSIT,LENDING,TXN_COUNT,TXN_VALUE,ACTIVE,Stadium,Vendor
5,5,0,Baller,-1,870359,0,28,263872,1,Fenway,Harry
105,105,0,Baller,-1,434229,735217,56,271880,1,Fenway,Harry
373,373,0,Baller,0,953019,0,73,13578,1,Fenway,Harry
437,437,0,Baller,-2,141959,335109,61,392169,1,Fenway,Harry
499,499,0,Baller,0,464055,0,77,15631,1,Fenway,Harry
...,...,...,...,...,...,...,...,...,...,...,...
179590,16409,12,Baller,-1,334316,651183,46,415200,1,Fenway,Harry
179632,16451,12,Baller,-1,376163,345523,47,471080,1,Fenway,Harry
179677,16496,12,Baller,-2,630080,233877,74,527605,1,Fenway,Harry
180073,16892,12,Baller,0,122217,0,52,77740,1,Fenway,Harry
180146,16965,12,Baller,0,498559,0,93,330336,1,Fenway,Harry

In [13]:
columns = ['CLASSIFICATION','Stadium','Vendor']

gb = df.groupby(columns)
gb_list = list(gb.groups.keys())

In [15]:
gb.get_group(gb_list[0])

,MEMBERNBR,MONTH,CLASSIFICATION,OUTLOOK,DEPOSIT,LENDING,TXN_COUNT,TXN_VALUE,ACTIVE,Stadium,Vendor
5,5,0,Baller,-1,870359,0,28,263872,1,Fenway,Harry
105,105,0,Baller,-1,434229,735217,56,271880,1,Fenway,Harry
373,373,0,Baller,0,953019,0,73,13578,1,Fenway,Harry
437,437,0,Baller,-2,141959,335109,61,392169,1,Fenway,Harry
499,499,0,Baller,0,464055,0,77,15631,1,Fenway,Harry
...,...,...,...,...,...,...,...,...,...,...,...
179590,16409,12,Baller,-1,334316,651183,46,415200,1,Fenway,Harry
179632,16451,12,Baller,-1,376163,345523,47,471080,1,Fenway,Harry
179677,16496,12,Baller,-2,630080,233877,74,527605,1,Fenway,Harry
180073,16892,12,Baller,0,122217,0,52,77740,1,Fenway,Harry
180146,16965,12,Baller,0,498559,0,93,330336,1,Fenway,Harry

In [22]:
import inspect
import difflib

def compare_functions(func1, func2):
    f1_lines = inspect.getsource(func1).splitlines()
    f2_lines = inspect.getsource(func2).splitlines()
    diff = difflib.unified_diff(f1_lines, f2_lines, lineterm='')
    return '\n'.join(diff)



compare_functions(ColumnStatisticalReview,ColumnStatisticalReview1)

'--- \n+++ \n@@ -1,78 +1,81 @@\n-def ColumnStatisticalReview(df,\n+def ColumnStatisticalReview1(df,\n                             column_name,\n                             partitions=10,\n                             top_x_records=10,\n                             exclude_blanks_from_segments=1,\n                             exclude_zeroes_from_segments=1):\n-    \n+\n     \'\'\'\n     Function to Conduct a Simple Statistical Review of a Column, Including Understanding the positional distribution\n     of values. \n-    \n+\n     Args:\n         column_name (str): Name of Column\n-        \n+\n         partitions (int): Number of partitions to include (Decile 10)\n-        \n+\n         exclude_blanks_from_segments (int): Binary Flag, whether to exclude Blank Values from Segment determination.\n         If blank values are excluded it gives a better representation for the members of the set, however it might \n         provide a misleading representation of the population.\n-        \n+\n         exclude_zeroes_from_segments (int): As above, with respect to 0 values. Is processed after exclude_blanks, as\n         such it can include both blanks and true 0 values. \n-        \n-        \n+\n+\n     \'\'\'\n-    \n+\n     temp_dict = {}\n     \n-    try:\n+    is_numeric = pd.api.types.is_numeric_dtype(df[column_name])\n+    \n+    if is_numeric:\n         temp_dict[\'SUM\'] = df[column_name].sum()\n         temp_dict[\'MEAN\'] = df[column_name].mean()\n         temp_dict[\'STD_DEV\'] =  df[column_name].std()\n         temp_dict[\'MEDIAN\'] = df[column_name].median()\n         temp_dict[\'MAX\'] = df[column_name].max()\n         temp_dict[\'MIN\'] = df[column_name].min()\n-    \n-    except:\n-        pass\n-\n+        \n     temp_dict[\'TOTAL_RECORDS\'] = len(df)\n     temp_dict[\'UNIQUE_RECORDS\'] = len(df.drop_duplicates(column_name))\n-    temp_dict[\'ZERO_RECORDS\'] = len(df[df[column_name]==0])\n-    temp_dict[\'NON_ZERO_RECORDS\'] = len(df[df[column_name]!=0])\n     temp_dict[\'NA_RECORDS\'] = len(df[df[column_name].isna()])\n     temp_dict[\'NULL_RECORDS\'] = len(df[df[column_name].isnull()])\n-                             \n+    \n+    if is_numeric:\n+        temp_dict[\'ZERO_RECORDS\'] = len(df[df[column_name]==0])\n+        temp_dict[\'NON_ZERO_RECORDS\'] = len(df[df[column_name]!=0])    \n+\n     temp_df = pd.DataFrame(temp_dict.values(),index=temp_dict.keys(),columns=[column_name])\n     \n-    # Add top X records Based on Frequency\n-    if top_x_records>0:\n-        top_instances = pd.DataFrame(df[column_name].value_counts().head(top_x_records)).reset_index()\n-        top_instances[column_name] = top_instances.apply(lambda row: f"Value: {row[column_name]}, Frequency: {row[\'count\']}", axis=1)\n-        top_instances[\'index\'] = [f"Top {x+1}" for x in range(len(top_instances[column_name]))]\n-        top_instances = top_instances.drop(\'count\',axis=1).set_index(\'index\')\n-\n-        temp_df = pd.concat([temp_df,top_instances])\n+    if temp_dict[\'TOTAL_RECORDS\']==len(df[df[column_name].isnull()]):\n+        return temp_df\n     \n     try:\n-        temp_dict[\'SUM\']\n-        segment_df = ColumnPartitioner(df=df,\n-                                       column_name=column_name,\n-                                       partitions=partitions,\n-                                       exclude_blanks=exclude_blanks_from_segments,\n-                                       exclude_zeros=exclude_zeroes_from_segments,\n-                                       return_value=\'\')\n-        \n-        seg_val_df = ColumnPartitioner(df=df,\n+\n+        # Add top X records Based on Frequency\n+        if top_x_records>0:\n+            top_instances = pd.DataFrame(df[column_name].value_counts(dropna=False).head(top_x_records)).reset_index().rename(columns={column_name:\'count\',\'index\':column_name})\n+            if len(top_instances)>0:\n+                top_instances[column_name] = top_instances.apply(lambda row: f"Value: {row[column_name]}, Frequency: {row[\'count\']}", axis=1)\n+                top_instances[\'index\'] = [f"Top {x+1}" for x in range(len(top_instances[column_name]))]\n+                top_instances = top_instances.drop(\'count\',axis=1).set_index(\'index\')\n+                temp_df = pd.concat([temp_df,top_instances])\n+\n+        if (partitions>0)&(pd.api.types.is_numeric_dtype(df[column_name]))&(temp_dict[\'UNIQUE_RECORDS\']>1):\n+            segment_df = ColumnPartitioner(df=df,\n                                            column_name=column_name,\n                                            partitions=partitions,\n                                            exclude_blanks=exclude_blanks_from_segments,\n                                            exclude_zeros=exclude_zeroes_from_segments,\n-                                           return_value=\'agg_value\').rename(columns={\'VALUE\':column_name})\n+                                           return_value=\'\')\n+            seg_val_df = ColumnPartitioner(df=df,\n+                                               column_name=column_name,\n+                                               partitions=partitions,\n+                                               exclude_blanks=exclude_blanks_from_segments,\n+                                               exclude_zeros=exclude_zeroes_from_segments,\n+                                               return_value=\'agg_value\').rename(columns={\'VALUE\':column_name})\n+            return pd.concat([temp_df,segment_df.T,seg_val_df])\n+    except:\n+        pass\n             \n-        return pd.concat([temp_df,segment_df.T,seg_val_df])\n-\n-    \n-    except:\n-        return temp_df\n+    return temp_df'

In [20]:
def ColumnStatisticalReview(df,
                            column_name,
                            partitions=10,
                            top_x_records=10,
                            exclude_blanks_from_segments=1,
                            exclude_zeroes_from_segments=1):
    
    '''
    Function to Conduct a Simple Statistical Review of a Column, Including Understanding the positional distribution
    of values. 
    
    Args:
        column_name (str): Name of Column
        
        partitions (int): Number of partitions to include (Decile 10)
        
        exclude_blanks_from_segments (int): Binary Flag, whether to exclude Blank Values from Segment determination.
        If blank values are excluded it gives a better representation for the members of the set, however it might 
        provide a misleading representation of the population.
        
        exclude_zeroes_from_segments (int): As above, with respect to 0 values. Is processed after exclude_blanks, as
        such it can include both blanks and true 0 values. 
        
        
    '''
    
    temp_dict = {}
    
    try:
        temp_dict['SUM'] = df[column_name].sum()
        temp_dict['MEAN'] = df[column_name].mean()
        temp_dict['STD_DEV'] =  df[column_name].std()
        temp_dict['MEDIAN'] = df[column_name].median()
        temp_dict['MAX'] = df[column_name].max()
        temp_dict['MIN'] = df[column_name].min()
    
    except:
        pass

    temp_dict['TOTAL_RECORDS'] = len(df)
    temp_dict['UNIQUE_RECORDS'] = len(df.drop_duplicates(column_name))
    temp_dict['ZERO_RECORDS'] = len(df[df[column_name]==0])
    temp_dict['NON_ZERO_RECORDS'] = len(df[df[column_name]!=0])
    temp_dict['NA_RECORDS'] = len(df[df[column_name].isna()])
    temp_dict['NULL_RECORDS'] = len(df[df[column_name].isnull()])
                             
    temp_df = pd.DataFrame(temp_dict.values(),index=temp_dict.keys(),columns=[column_name])
    
    # Add top X records Based on Frequency
    if top_x_records>0:
        top_instances = pd.DataFrame(df[column_name].value_counts().head(top_x_records)).reset_index()
        top_instances[column_name] = top_instances.apply(lambda row: f"Value: {row[column_name]}, Frequency: {row['count']}", axis=1)
        top_instances['index'] = [f"Top {x+1}" for x in range(len(top_instances[column_name]))]
        top_instances = top_instances.drop('count',axis=1).set_index('index')

        temp_df = pd.concat([temp_df,top_instances])
    
    try:
        temp_dict['SUM']
        segment_df = ColumnPartitioner(df=df,
                                       column_name=column_name,
                                       partitions=partitions,
                                       exclude_blanks=exclude_blanks_from_segments,
                                       exclude_zeros=exclude_zeroes_from_segments,
                                       return_value='')
        
        seg_val_df = ColumnPartitioner(df=df,
                                           column_name=column_name,
                                           partitions=partitions,
                                           exclude_blanks=exclude_blanks_from_segments,
                                           exclude_zeros=exclude_zeroes_from_segments,
                                           return_value='agg_value').rename(columns={'VALUE':column_name})
            
        return pd.concat([temp_df,segment_df.T,seg_val_df])

    
    except:
        return temp_df

In [ ]:
from Visualization import JupyterNotebookMarkdown
df1  = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSQF2lNc4WPeTRQ_VzWPkqSZp4RODFkbap8AqmolWp5bKoMaslP2oRVVG21x2POu_JcbF1tGRcBgodu/pub?output=csv')
df2 = df1[df1['Process']=='Time Series']
JupyterNotebookMarkdown(df1)

In [5]:
from DataSets import GenerateFakeMemberDF



df = GenerateFakeMemberDF(100,20)


branches = ['Fenway Park','Wrigely Field','The Forum','Maple Leaf Gardens','GM Place','Safeco','Lambeau Stadium']
city = ['Boston','Chicago','Philly','Toronto','Vancouver','Chicago','Seattle','Green Bay']
lob = ['Retail','Corporate','Mid Market']
duration = ['1) Less than 30d','2) 30D - 1Y', '3) 1Y - 5Y','4)5Y+']

list_of_lists = [branches,city,lob,duration]

df1 = pd.DataFrame(df['MEMBERNBR'].unique(),columns=['MEMBERNBR'])
df1['BRANCHNAME'] = [np.random.choice(branches) for x in range(len(df1))]
df1['CITY'] = [np.random.choice(city) for x in range(len(df1))]
df1['LOB'] = [np.random.choice(lob) for x in range(len(df1))]
df1['DURATION'] = [np.random.choice(duration) for x in range(len(df1))]

final_df = df.merge(df1,on='MEMBERNBR',how='left')
final_df['INTEREST_RATE'] = final_df['MONTH'].apply(lambda x:np.random.uniform(0.02, 0.07))
final_df['MATURED_AMOUNT'] = final_df['LENDING'].apply(lambda x:x*np.random.uniform(0, 1)) 
final_df['RENEWED_AMOUNT'] = final_df['MATURED_AMOUNT'].apply(lambda x:x*.95)

In [199]:
from itertools import product,permutations,combinations


branches = ['Fenway Park','Wrigely Field','The Forum','Maple Leaf Gardens','GM Place','Safeco','Lambeau Stadium']
city = ['Boston','Chicago','Philly','Toronto','Vancouver','Chicago','Seattle','Green Bay']
lob = ['Retail','Corporate','Mid Market']
duration = ['1) Less than 30d','2) 30D - 1Y', '3) 1Y - 5Y','4)5Y+']
list_of_lists = [branches,city,lob,duration]

In [205]:
import pandas as pd
import numpy as np
from itertools import combinations

def CreateCalculatedField(df, primary_key, calc_instructions, include_all=1):

    '''
    calc_instructions = [
    {'type': 'sum', 'value1': 'LENDING', 'name': 'TOTAL_LENDING'},
    {'type': 'weighted_average', 'value1': 'LENDING', 'value2': 'INTEREST_RATE', 'name': 'WEIGHTED_INTEREST'},
    {'type': 'ratio', 'value1': 'RENEWED_AMOUNT', 'value2': 'MATURED_AMOUNT', 'name': 'RENEWAL_RATE'}
    ]

    output = CreateCalculatedField(final_df, ['BRANCHNAME', 'CITY', 'LOB', 'DURATION'], calc_instructions)


    '''

    base_aggs = {}
    
    # Collect all fields we need
    for calc in calc_instructions:
        if calc['type'] == 'sum':
            base_aggs[calc['name']] = (calc['value1'], 'sum')
        elif calc['type'] == 'weighted_average':
            base_aggs[f"__{calc['name']}_NUM"] = (
                calc['value2'], lambda x, col=calc['value1']: (df.loc[x.index, col] * x).sum()
            )
            base_aggs[f"__{calc['name']}_DEN"] = (calc['value1'], 'sum')
        elif calc['type'] == 'ratio':
            base_aggs[f"__{calc['name']}_NUM"] = (calc['value1'], 'sum')
            base_aggs[f"__{calc['name']}_DEN"] = (calc['value2'], 'sum')

    # Base groupby
    grouped = df.groupby(primary_key, dropna=False).agg(**base_aggs).reset_index()

    # Compute post-aggregates
    for calc in calc_instructions:
        if calc['type'] == 'sum':
            continue
        elif calc['type'] == 'weighted_average':
            num = grouped[f"__{calc['name']}_NUM"]
            den = grouped[f"__{calc['name']}_DEN"]
            grouped[calc['name']] = np.where(den != 0, num / den, np.nan)
            grouped.drop(columns=[f"__{calc['name']}_NUM", f"__{calc['name']}_DEN"], inplace=True)
        elif calc['type'] == 'ratio':
            num = grouped[f"__{calc['name']}_NUM"]
            den = grouped[f"__{calc['name']}_DEN"]
            grouped[calc['name']] = np.where(den != 0, num / den, np.nan)
            grouped.drop(columns=[f"__{calc['name']}_NUM", f"__{calc['name']}_DEN"], inplace=True)

    result_frames = [grouped.copy()]

    # Rollup combinations
    if include_all:
        for r in range(1, len(primary_key)):
            for group_cols in combinations(primary_key, r):
                temp = df.copy()
                for col in primary_key:
                    if col not in group_cols:
                        temp[col] = 'All'
                temp_group = CreateCalculatedField(temp, primary_key, calc_instructions, include_all=0)
                result_frames.append(temp_group)

        # Full 'All' row
        temp = df.copy()
        for col in primary_key:
            temp[col] = 'All'
        temp_group = CreateCalculatedField(temp, primary_key, calc_instructions, include_all=0)
        result_frames.append(temp_group)

    return pd.concat(result_frames, ignore_index=True)



calc_instructions = [
    {'type': 'sum', 'value1': 'LENDING', 'name': 'TOTAL_LENDING'},
    {'type': 'weighted_average', 'value1': 'LENDING', 'value2': 'INTEREST_RATE', 'name': 'WEIGHTED_INTEREST'},
    {'type': 'ratio', 'value1': 'RENEWED_AMOUNT', 'value2': 'MATURED_AMOUNT', 'name': 'RENEWAL_RATE'}
]

output = CreateCalculatedField(final_df, ['BRANCHNAME', 'CITY', 'LOB', 'DURATION'], calc_instructions)

output

,BRANCHNAME,CITY,LOB,DURATION,TOTAL_LENDING,WEIGHTED_INTEREST,RENEWAL_RATE
0,Fenway Park,Boston,Corporate,1) Less than 30d,0,NaN,NaN
1,Fenway Park,Boston,Mid Market,2) 30D - 1Y,11334,0.034071,0.95
2,Fenway Park,Boston,Retail,2) 30D - 1Y,106647122,0.049776,0.95
3,Fenway Park,Boston,Retail,3) 1Y - 5Y,10239882,0.049786,0.95
4,Fenway Park,Chicago,Mid Market,1) Less than 30d,68361,0.058088,0.95
...,...,...,...,...,...,...,...
690,All,Vancouver,Retail,1) Less than 30d,2791918,0.039606,0.95
691,All,Vancouver,Retail,2) 30D - 1Y,122177852,0.041723,0.95
692,All,Vancouver,Retail,3) 1Y - 5Y,472613,0.046927,0.95
693,All,Vancouver,Retail,4)5Y+,3659554,0.051155,0.95
694,All,All,All,All,1421750201,0.045114,0.95

In [194]:
e

,DURATION,LOB,CITY,BRANCHNAME,METRIC,0,1,2,AVG_3M,CHG_3M,PERC_CHG_3M,CHG_DF,AVG_DF,PERC_CHG_DF,MEAN,STD,MAX,MIN,COUNT
0,All,All,All,All,DEPOSIT,23776180.0,23335842.0,24771980.0,2.396133e+07,995800.0,0.041882,995800.0,24771980.0,1.0,2.396133e+07,735754.436988,24771980.0,23335842.0,3
0,All,All,All,Fenway Park,DEPOSIT,6477032.0,6577497.0,5693774.0,6.249434e+06,-783258.0,-0.120929,-783258.0,5693774.0,1.0,6.249434e+06,483830.661065,6577497.0,5693774.0,3
1,All,All,All,GM Place,DEPOSIT,3056869.0,2506670.0,3273792.0,2.945777e+06,216923.0,0.070962,216923.0,3273792.0,1.0,2.945777e+06,395442.935288,3273792.0,2506670.0,3
2,All,All,All,Lambeau Stadium,DEPOSIT,968324.0,1053892.0,1130907.0,1.051041e+06,162583.0,0.167901,162583.0,1130907.0,1.0,1.051041e+06,81328.986979,1130907.0,968324.0,3
3,All,All,All,Maple Leaf Gardens,DEPOSIT,3736161.0,2885826.0,3019594.0,3.213860e+06,-716567.0,-0.191792,-716567.0,3019594.0,1.0,3.213860e+06,457243.872847,3736161.0,2885826.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2) 30D - 1Y,Mid Market,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
91,3) 1Y - 5Y,Retail,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
92,1) Less than 30d,Corporate,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
93,1) Less than 30d,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,2.0,2.0,2.0,2.000000e+00,0.0,0.000000,0.0,2.0,1.0,2.000000e+00,0.000000,2.0,2.0,3
94,3) 1Y - 5Y,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3

In [137]:
final_df.head()

,MEMBERNBR,MONTH,CLASSIFICATION,OUTLOOK,DEPOSIT,LENDING,TXN_COUNT,TXN_VALUE,ACTIVE,BRANCHNAME,CITY,LOB,DURATION,RECORD_COUNT,INTEREST_RATE
0,0,0,Baller,2,968820,0,51,236538,1,Safeco,Vancouver,Mid Market,3) 1Y - 5Y,1,0.040365
1,1,0,Bankrupt,2,65,864571,2,134,1,Wrigely Field,Chicago,Corporate,1) Less than 30d,1,0.041694
2,2,0,Spender,0,23798,468929,107,96942,1,Maple Leaf Gardens,Philly,Mid Market,2) 30D - 1Y,1,0.036464
3,3,0,Full_Service,-2,972158,799159,78,53976,1,Fenway Park,Toronto,Retail,4)5Y+,1,0.066798
4,4,0,Full_Service,-2,710889,75000,33,17292,1,Fenway Park,Philly,Corporate,3) 1Y - 5Y,1,0.024631

In [141]:
final_df

,MEMBERNBR,MONTH,CLASSIFICATION,OUTLOOK,DEPOSIT,LENDING,TXN_COUNT,TXN_VALUE,ACTIVE,BRANCHNAME,CITY,LOB,DURATION,RECORD_COUNT,INTEREST_RATE
0,0,0,Baller,2,968820,0,51,236538,1,Safeco,Vancouver,Mid Market,3) 1Y - 5Y,1,0.040365
1,1,0,Bankrupt,2,65,864571,2,134,1,Wrigely Field,Chicago,Corporate,1) Less than 30d,1,0.041694
2,2,0,Spender,0,23798,468929,107,96942,1,Maple Leaf Gardens,Philly,Mid Market,2) 30D - 1Y,1,0.036464
3,3,0,Full_Service,-2,972158,799159,78,53976,1,Fenway Park,Toronto,Retail,4)5Y+,1,0.066798
4,4,0,Full_Service,-2,710889,75000,33,17292,1,Fenway Park,Philly,Corporate,3) 1Y - 5Y,1,0.024631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,179,20,Spender,0,51750,40000,184,18216,1,The Forum,Boston,Mid Market,1) Less than 30d,1,0.038509
2924,180,20,Bankrupt,1,75,769480,6,240,1,Lambeau Stadium,Philly,Mid Market,3) 1Y - 5Y,1,0.053251
2925,181,20,Full_Service,1,766938,66132,67,80199,1,Fenway Park,Vancouver,Mid Market,3) 1Y - 5Y,1,0.039106
2926,182,20,Borrower,-2,48054,82485,7,833,1,GM Place,Philly,Corporate,3) 1Y - 5Y,1,0.046681
2927,183,20,Spender,1,11586,930652,122,50752,1,GM Place,Vancouver,Mid Market,4)5Y+,1,0.058133

In [128]:
metrics = ['DEPOSIT','LENDING','TXN_COUNT','TXN_VALUE','RECORD_COUNT']
index=['BRANCHNAME','CITY','LOB','DURATION']

column='MONTH'

final_df['RECORD_COUNT']=1

def CreateMultiplePivotTableFromTimeSeries(df,index_list,metric_list,column):
    '''
    Function to utilize when Attempting to Create Multip[le Times Series. Specifically Multiple Metrics, and Multiple Index's
    



    '''
    
    
    final_df = pd.DataFrame()
    
    # Iterate through all Possible Metrics Selected.
    for metric in metric_list:
        all_df = CreatePivotTableFromTimeSeries(df=df,index=None,columns=column,values=metric,aggfunc='sum') 
        cols = list(all_df.columns)
        all_df = all_df.reset_index(drop=True)
        all_df['METRIC'] = metric
        cols.insert(0,'METRIC')

        for key in index:
            cols.insert(0,key)
            all_df[key] = 'All'

        final_df = pd.concat([final_df,all_df[cols]])

        # Iterate through all Index Items Individually
        for key in index_list:
            temp = CreatePivotTableFromTimeSeries(df,index=key,
                                                  values=metric,
                                                  columns=column).reset_index() 
            for missing in [x for x in index if x != key]:
                temp[missing] = 'All'
            temp['METRIC'] = metric
            final_df = pd.concat([final_df,temp])
        
        # Add Value for Metric with Entire Index Combination
        temp = CreatePivotTableFromTimeSeries(df,index=index_list,values=metric,columns=column).reset_index()
        temp['METRIC'] = metric
        final_df = pd.concat([final_df,temp])
    
    return final_df

e = CreateMultiplePivotTableFromTimeSeries(df=final_df[final_df['MONTH']<3],
                                       index_list= index,
                                       metric_list=metrics,
                                       column= 'MONTH')
        

e[

,DURATION,LOB,CITY,BRANCHNAME,METRIC,0,1,2,AVG_3M,CHG_3M,PERC_CHG_3M,CHG_DF,AVG_DF,PERC_CHG_DF,MEAN,STD,MAX,MIN,COUNT
0,All,All,All,All,RECORD_COUNT,100.0,103.0,109.0,104.000000,9.0,0.090000,9.0,109.0,1.0,104.000000,4.582576,109.0,100.0,3
0,All,All,All,Fenway Park,RECORD_COUNT,19.0,20.0,21.0,20.000000,2.0,0.105263,2.0,21.0,1.0,20.000000,1.000000,21.0,19.0,3
1,All,All,All,GM Place,RECORD_COUNT,10.0,10.0,12.0,10.666667,2.0,0.200000,2.0,12.0,1.0,10.666667,1.154701,12.0,10.0,3
2,All,All,All,Lambeau Stadium,RECORD_COUNT,13.0,13.0,13.0,13.000000,0.0,0.000000,0.0,13.0,1.0,13.000000,0.000000,13.0,13.0,3
3,All,All,All,Maple Leaf Gardens,RECORD_COUNT,18.0,18.0,19.0,18.333333,1.0,0.055556,1.0,19.0,1.0,18.333333,0.577350,19.0,18.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2) 30D - 1Y,Mid Market,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000,0.0,0.000000,0.0,1.0,1.0,1.000000,0.000000,1.0,1.0,3
91,3) 1Y - 5Y,Retail,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000,0.0,0.000000,0.0,1.0,1.0,1.000000,0.000000,1.0,1.0,3
92,1) Less than 30d,Corporate,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000,0.0,0.000000,0.0,1.0,1.0,1.000000,0.000000,1.0,1.0,3
93,1) Less than 30d,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,2.0,2.0,2.0,2.000000,0.0,0.000000,0.0,2.0,1.0,2.000000,0.000000,2.0,2.0,3
94,3) 1Y - 5Y,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000,0.0,0.000000,0.0,1.0,1.0,1.000000,0.000000,1.0,1.0,3

,DURATION,LOB,CITY,BRANCHNAME,METRIC,0,1,2,AVG_3M,CHG_3M,PERC_CHG_3M,CHG_DF,AVG_DF,PERC_CHG_DF,MEAN,STD,MAX,MIN,COUNT
0,All,All,All,All,DEPOSIT,23776180.0,23335842.0,24771980.0,2.396133e+07,995800.0,0.041882,995800.0,24771980.0,1.0,2.396133e+07,735754.436988,24771980.0,23335842.0,3
0,All,All,All,Fenway Park,DEPOSIT,6477032.0,6577497.0,5693774.0,6.249434e+06,-783258.0,-0.120929,-783258.0,5693774.0,1.0,6.249434e+06,483830.661065,6577497.0,5693774.0,3
1,All,All,All,GM Place,DEPOSIT,3056869.0,2506670.0,3273792.0,2.945777e+06,216923.0,0.070962,216923.0,3273792.0,1.0,2.945777e+06,395442.935288,3273792.0,2506670.0,3
2,All,All,All,Lambeau Stadium,DEPOSIT,968324.0,1053892.0,1130907.0,1.051041e+06,162583.0,0.167901,162583.0,1130907.0,1.0,1.051041e+06,81328.986979,1130907.0,968324.0,3
3,All,All,All,Maple Leaf Gardens,DEPOSIT,3736161.0,2885826.0,3019594.0,3.213860e+06,-716567.0,-0.191792,-716567.0,3019594.0,1.0,3.213860e+06,457243.872847,3736161.0,2885826.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2) 30D - 1Y,Mid Market,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
91,3) 1Y - 5Y,Retail,Seattle,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
92,1) Less than 30d,Corporate,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3
93,1) Less than 30d,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,2.0,2.0,2.0,2.000000e+00,0.0,0.000000,0.0,2.0,1.0,2.000000e+00,0.000000,2.0,2.0,3
94,3) 1Y - 5Y,Mid Market,Toronto,Wrigely Field,RECORD_COUNT,1.0,1.0,1.0,1.000000e+00,0.0,0.000000,0.0,1.0,1.0,1.000000e+00,0.000000,1.0,1.0,3

In [102]:
e[e['BRANCHNAME']=='Fenway Park'][0].sum()/2

13306201.0

In [121]:
CreatePivotTableFromTimeSeries(final_df[final_df['MONTH']<=6],index=['BRANCHNAME','CITY','LOB','DURATION'],columns='MONTH',values='DEPOSIT').iloc[0]

0              397892.000000
1              401090.000000
2              390791.000000
3              397730.000000
4              413003.000000
5              395245.000000
6              411525.000000
AVG_3M         406591.000000
CHG_3M          -1478.000000
PERC_CHG_3M        -0.003579
AVG_6M         401564.000000
CHG_6M          10435.000000
PERC_CHG_6M         0.026017
CHG_DF          13633.000000
AVG_DF         411525.000000
PERC_CHG_DF         1.000000
MEAN           401039.428571
STD              8291.975254
MAX            413003.000000
MIN            390791.000000
COUNT               7.000000
Name: (Fenway Park, Boston, Corporate, 1) Less than 30d), dtype: float64

In [117]:

def CreatePivotTableFromTimeSeries(df,
                                   index,
                                   columns,
                                   values,
                                   aggfunc='sum',
                                   skipna=True):
    
    '''
    Function to Summaryize a Time Series Dataframe into a Pivot. Creating a number of critical Metrics.
    
    
    
    '''
    
    # 1. Pivot
    if index==None:
        df1 = df.pivot_table(columns=columns,values=values,aggfunc=aggfunc)
    else:
        df1 = df.pivot_table(index=index, columns=columns, values=values, aggfunc=aggfunc)

    # 2. Capture original month columns IMMEDIATELY after pivot
    month_cols = df1.columns.tolist()
 
    # 3. Add rolling window stats
    if len(month_cols) >= 3:
        df1['AVG_3M'] = df1[month_cols[-3:]].mean(axis=1, skipna=skipna)
        df1['CHG_3M'] = df1[month_cols[-1]]-df1[month_cols[-3]]
        try:
            df1['PERC_CHG_3M'] = df1['CHG_3M']/df1[month_cols[-3]]
        except:
            df1['PERC_CHG_3M'] = 0
    
    if len(month_cols) >= 6:
        df1['AVG_6M'] = df1[month_cols[-6:]].mean(axis=1, skipna=skipna)
        df1['CHG_6M'] = df1[month_cols[-1]]-df1[month_cols[-6]]
        try:
            df1['PERC_CHG_6M'] = df1['CHG_6M']/df1[month_cols[-6]]
        except:
            df1['PERC_CHG_6M'] = 0
            
    if len(month_cols) >= 12:
        df1['AVG_12M'] = df1[month_cols[-12:]].mean(axis=1, skipna=skipna)
        df1['CHG_12M'] = df1[month_cols[-1]]-df1[month_cols[-12]]
        try:
            df1['PERC_CHG_12M'] = df1['CHG_12M']/df1[month_cols[-12]]
        except:
            df1['PERC_CHG_12M'] = 0

    df1['CHG_DF']  = df1[month_cols[-1]]-df1[month_cols[0]]
    df1['AVG_DF'] = df1[month_cols[-1:]].mean(axis=1, skipna=skipna)
    df1['PERC_CHG_DF'] = df1['AVG_DF']/df1[month_cols[-1]]

    
    # 4. Now calculate global stats **only using the original month columns**
    stats = pd.DataFrame({
        'MEAN': df1[month_cols].mean(axis=1, skipna=skipna),
        'STD': df1[month_cols].std(axis=1, skipna=skipna),
        'MAX': df1[month_cols].max(axis=1, skipna=skipna),
        'MIN': df1[month_cols].min(axis=1, skipna=skipna),
        'COUNT': df1[month_cols].count(axis=1)
    })

    # 5. Merge the stats
    df1 = pd.concat([df1, stats], axis=1)
    
    return df1.fillna(0)

In [112]:
df = final_df.copy()
group_vars = ['BRANCHNAME','CITY','LOB','DURATION','MONTH']
agg_cols = ['DEPOSIT','LENDING','TXN_COUNT','TXN_VALUE']
agg_funcs = ['sum', 'mean','count']

In [2]:
from tensorflow.keras.datasets import imdb

(X_train,y_train),(X_test,y_test) = imdb.load_data(num_words=10000)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17464789/17464789 [==============================] - 1s 0us/step

In [8]:
word_index = imdb.get_word_index()

In [27]:
d = dict([(value,key) for (key,value) in word_index.items()])

" ".join([d.get(i-3,"?") for i in X_train[6]])

"? lavish production values and solid performances in this straightforward adaption of jane ? satirical classic about the marriage game within and between the classes in ? 18th century england northam and paltrow are a ? mixture as friends who must pass through ? and lies to discover that they love each other good humor is a ? virtue which goes a long way towards explaining the ? of the aged source material which has been toned down a bit in its harsh ? i liked the look of the film and how shots were set up and i thought it didn't rely too much on ? of head shots like most other films of the 80s and 90s do very good results"

In [ ]:
from Connections import NavigateUsingDMap
NavigateUsingDMap()

In [17]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQq1-3cTas8DCWBa2NKYhVFXpl8kLaFDohg0zMfNTAU_Fiw6aIFLWfA5zRem4eSaGPa7UiQvkz05loW/pub?output=csv')
df

,Word,Category,Sub Categorization,Definition,Notes,Link,Image,Markdown Equation,Dataset Size,Learning Type,Algorithm Class
0,Accuracy,Machine Learning,Evaluation,Number of correctly classified examples divide...,NaN,NaN,NaN,$$ Accuracy = \frac{TP + TN}{TP + TN + FP + FN...,NaN,NaN,NaN
1,Actions,Technology,Spark,"In Spark, actions trigger the execution of tra...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Activation Functions,NaN,Activation Function,NaN,NaN,NaN,https://raw.githubusercontent.com/derek-dewald...,NaN,NaN,NaN,NaN
3,Acyclic Graph,Statistics,Definition,A graph that does not contain any cycles. This...,NaN,NaN,NaN,big,NaN,NaN,NaN
4,Adadelta,Machine Learning,Optimization,Adaptive learning rate for nonstationary objec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
578,TunedThresholdClassifierCV,Machine Learning,Model,Unknown,NaN,NaN,NaN,NaN,Unknown,NaN,NaN
579,TweedieRegressor,Machine Learning,Model,Medium,NaN,NaN,NaN,NaN,Medium,NaN,NaN
580,VarianceThreshold,Machine Learning,Model,Large,NaN,NaN,NaN,NaN,Large,NaN,NaN
581,VotingClassifier,Machine Learning,Model,"Medium, Large",NaN,NaN,NaN,NaN,"Medium, Large",NaN,NaN
582,VotingRegressor,Machine Learning,Model,"Medium, Large",NaN,NaN,NaN,NaN,"Medium, Large",NaN,NaN

In [ ]:
import pandas as pd
import itertools


def long_format_summary(df, group_vars, agg_cols, agg_funcs):
    """
    Summarizes df grouped by group_vars, with one row per (group, metric, function) and a single VALUE column.

    Parameters:
    - df: input DataFrame
    - group_vars: list of columns to group by
    - agg_cols: list of numeric columns to summarize
    - agg_funcs: list of aggregation functions (e.g., ['sum', 'mean', 'min', 'max'])

    Returns:
    - long_df: tidy DataFrame with columns: group_vars + ['METRIC', 'FUNCTION', 'VALUE']
    """
    # Multi-level aggregation
    agg_df = df.groupby(group_vars)[agg_cols].agg(agg_funcs).reset_index()

    # Flatten multi-index columns
    agg_df.columns = group_vars + [f"{col}_{func}" for col in agg_cols for func in agg_funcs]

    # Melt to long format
    long_df = agg_df.melt(id_vars=group_vars, var_name='METRIC_FUNC', value_name='VALUE')

    # Split "DEPOSIT_sum" → "DEPOSIT", "sum"
    long_df[['METRIC', 'FUNCTION']] = long_df['METRIC_FUNC'].str.rsplit('_', n=1, expand=True)
    long_df = long_df.drop(columns='METRIC_FUNC')

    # Optional: sort for readability
    return long_df.sort_values(by=group_vars + ['METRIC', 'FUNCTION']).reset_index(drop=True)

In [16]:
from IPython.display import display, Markdown, Math
import pandas as pd
import re

def DailyTest(questions=20,updates=5):
    
    df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQq1-3cTas8DCWBa2NKYhVFXpl8kLaFDohg0zMfNTAU_Fiw6aIFLWfA5zRem4eSaGPa7UiQvkz05loW/pub?output=csv')
    
    updates = df[df['Definition'].isnull()].sample(updates)
    print(updates['Word'].tolist())
    
    questions = df[df['Definition'].notnull()].sample(questions)
    
    for row in range(len(df)):
        display_term_latex_dynamic(questions.iloc[row])

def display_term_latex_dynamic(row):
    '''
    Function Created to Sample Data Dictionary Rows and present information in incremental Format
    
    
    Parameters:
        Series
        
    Returns:
        Nil
    

    '''
    import time
    
    print(f"\n=== {row['Word']} ===")
    print(f"Category: {row['Category']}")
    print(f"Sub Category: {row['Sub Categorization']}")
    
    print(f"Definition: {row['Definition']}\n")
    time.sleep(5)
    if pd.notna(row['Markdown Equation']):
        eq_text = row['Markdown Equation']
        
        # Extract equation
        main_eq = re.search(r"\$\$(.*?)\$\$", eq_text, re.DOTALL)
        if main_eq:
            display(Markdown("**Equation:**"))
            display(Math(main_eq.group(1).strip()))
        
        # Extract "where" section
        where_part = re.split(r"\bwhere:\b", eq_text, flags=re.IGNORECASE)
        if len(where_part) > 1:
            display(Markdown("**Where:**"))
            where_lines = where_part[1].strip().splitlines()
            for line in where_lines:
                cleaned = line.strip("-• ").strip()
                if cleaned:
                    display(Math(cleaned))
    if pd.notna(row['Link']):
        display(Markdown(f"[More Info]({row['Link']})"))


DailyTest()

['Identity Access Management (IAM)', 'Reciever Operating Characterisitcs (ROC) ', 'Centrality', 'Neural Network', 'Hive']

=== Linear Regression ===
Category: Machine Learning
Sub Category: Model
Definition: Linear Regression models the relationship between an independent variable ( X ) and a dependent variable ( Y ) using a linear function. Model strengths include : Simple, interpretable, computationally efficient, works well for linearly separable data. Weaknesses, Assumes linear relationships, sensitive to outliers.

**Equation:**

=== RidgeCV ===
Category: Machine Learning
Sub Category: Model
Definition: Medium, Large


=== BLUF ===
Category: nan
Sub Category: nan
Definition: Bottom Line Up Front


=== Beaucratic Politics ===
Category: nan
Sub Category: nan
Definition: That people only do what is best for them and the decision is made based solely on who is making the decision. They are operating solely on their own best interests.


=== Lag ===
Category: nan
Sub Category: nan
Definition: A lag can be introduced to identify a relationship which occurs over a period of time, opposed to immediatley. A common example is Economic Data, when you need to wait to see the impact of the effect, such as inflation rate.



=== Ensemble Learning ===
Category: nan
Sub Category: nan
Definition: Aggregate the prediction of a group of predictions. Often used at the end of project after you've put together a series of high quality models. Take a Logistic Classifier, Random Forest, SVM and several other models, average them out and take the most frequent entry. Ensembles work best when the error is independently distributed, if trained on the same data set it is highly likely they will contain the same error.


=== FastICA ===
Category: Machine Learning
Sub Category: Model
Definition: Small


=== XOR ===
Category: nan
Sub Category: nan
Definition: Not Linearly Seperable. Problem for ML. Nand as Function of (x1,x2) new function (h1, h2) -


=== Margin of Error ===
Category: Statistics
Sub Category: Calculation
Definition: The margin of error represents the range within which the true population value is expected to lie, given the sample estimate. It is usually expressed as a percentage (e.g., ±5%). It helps determine how precise or reliable the sample estimate is, indicating the level of uncertainty in the results.


=== Control ===
Category: Experiement Design
Sub Category: nan
Definition: The ability to influence or manipulate a system's behavior or outcomes through deliberate intervention. Focuses on cause-effect relationships that can be reliably acted upon. Doesn't necessarily require full understanding — only that the action works. Example: A thermostat controls room temperature by adjusting heating/cooling based on feedback.

We control things without understanding - A Pilot.


=== VarianceThreshold ===
Category: Machine Learning
Sub Category: Model
Definition: Large


=== Research Approach ===
Category: Experiement Design
Sub Category: nan
Definition: Broad Plan. I includes phiosophical world view about research, design and methods


=== Strongly Typed ===
Category: nan
Sub Category: nan
Definition: Restrict Operation you can perform based on Object Type Python is Strongly Typed


=== Illusion of Asymmetric Insights ===
Category: Behavioural Economics
Sub Category: nan
Definition: The Belief that we know others better than they know us and that we may have insights about them that they lack (but not vice versa). As explained by the fill in the blanks word game, the words don’t define me, yet they do define others. CIA Officers. Judges.

KeyboardInterrupt:

In [15]:
from D_Testing import DailyTest

['True Negative', 'Kmeans can only do circular clusters because of centroids', 'Relu', 'Normal Distance', 'LightGBM']

=== ElasticNet Regularization ===
Category: Machine Learning

KeyboardInterrupt: Interrupted by user

In [ ]:
def calculate_trends(data, id_column, time_columns):
    """
    Calculate trends (slopes) for entities over time using linear regression.
    
    Parameters:
        data (pd.DataFrame): Input DataFrame containing entity IDs and time-based columns.
        id_column (str): Column name for the unique entity identifier (e.g., member_id).
        time_columns (list of str): List of column names representing the time periods (e.g., months).
    
    Returns:
        pd.DataFrame: DataFrame containing entity IDs, slopes, and trends.
    """
    # Extract unique entity IDs and the time-series data
    entity_ids = data[id_column].unique()
    time_data = data[time_columns].values
    
    # Prepare the X (time) matrix
    time_indices = np.arange(1, len(time_columns) + 1)  # Generate time indices
    X = np.vstack([time_indices, np.ones(len(time_indices))]).T  # Add a bias term for the intercept

    # Perform linear regression for all entities
    slopes = np.linalg.lstsq(X, time_data.T, rcond=None)[0][0]  # Extract slopes
    
    # Prepare results DataFrame
    results = pd.DataFrame({
        id_column: entity_ids,
        "slope": slopes
    })
    
    # Classify trends
    results["trend"] = np.where(
        results["slope"] > 0, "increasing",
        np.where(results["slope"] < 0, "decreasing", "stable")
    )
    
    return results


test_dict = {}

final_df = pd.DataFrame()

for model in models:
    for metric in ['F1','AUC','Accuracy']:   
        test_dict.setdefault('Top 5 Performing Models',{})[metric] = np.mean(value_list[:4])
        test_dict.setdefault('Top Performing Model',{})[metric] = value_list[0]
        test_dict.setdefault('All Models Mean',{})[metric] = np.mean(value_list)
        
        temp_df = pd.DataFrame(test_dict).T.reset_index().rename(columns={'index':'Type'})
        temp_df['Observed Value'] = model
    
    final_df = pd.concat([final_df,temp_df])

In [ ]:
def GenerateMLModels(df,
                     Features,
                     Target,
                     model_list,
                     scaler_list,
                     balance_list,
                     log_max_it=1000,
                     rf_estimators=50,
                     include_narrative=0):
    
    model_dict = {}
    final_result_df = pd.DataFrame()
    
    param_list = list(product(model_list,scaler_list,balance_list))
    
    for count,params in enumerate(param_list):
        print(count,params)
        
        model = params[0]
        scaler = params[1]
        if params[2]!=0:
            balance_target_observations = [1,params[2]]
        else:
            balance_target_observations = [0,0]
        
        run_dict,result = MLManualPipeline(df=df,
                                           Features=Features,
                                           Target=Target,
                                           model=model,
                                           scaler_=scaler,
                                           balance_target_observations=balance_target_observations,
                                           include_narrative=include_narrative,
                                           rf_estimators=rf_estimators,
                                           SequenceNumber=count,
                                           log_max_it=log_max_it)
        
        model_dict[count] = run_dict
        final_result_df = pd.concat([final_result_df,result])
        
    return model_dict,final_result_df




def ModelPerformanceByCategory(df,
                               primary_key='SequenceNumber',
                               ml_parameters=['Model','Scaler','Training Set Balance Perc'],
                               observations=20,
                               metrics=['AUC','F1','Accuracy']):
    
    # Create List of Models Based on Original Input Dataframe
    models = list(df['Model'].unique())
    
    # Create Values for Particular Metric under review
    for metric in metrics:
        # Sort Value based on Metric
        metric_df = df.sort_values(metric,ascending=False)
        # Iterate through Categories as defined by Function
        temp = pd.DataFrame()
        for ml_ in ml_parameters:
            _ = pd.DataFrame(metric_df[ml_].fillna("").head(observations).value_counts()).reset_index().rename(columns={'index':'Observed Value',ml_:metric})
            _['Type'] = ml_
            
            temp = pd.concat([temp,_])
            
        # Generate Metric Summary Value 
        # Create Segments
        brackets_v3(metric_df,metric,f"{metric}_segment",[0,.25,.5,.6,.75,.9])
        perc = pd.DataFrame(metric_df[f"{metric}_segment"].value_counts()).reset_index().rename(columns={'index':"Observed Value",f"{metric}_segment":metric})
        perc['Type'] = 'Model Performance'
        
        temp = pd.concat([temp,perc[perc[metric]!=0]])
        
        try:
            final_df = final_df.merge(temp,on=['Observed Value','Type'],how='outer')
        except:
            final_df = temp.copy()
            
        test_dict = {}
        perf_df = pd.DataFrame()
        for model in models:
            for metric in ['F1','AUC','Accuracy']:
        
                value_list = df[df['Model']==model].sort_values(metric,ascending=False)[metric].tolist()
                test_dict.setdefault('Model Best Five',{})[metric] = np.mean(value_list[:4])
                test_dict.setdefault('Model Best Performing',{})[metric] = value_list[0]
                test_dict.setdefault('Model Mean Performance',{})[metric] = np.mean(value_list)

                temp_df = pd.DataFrame(test_dict).T.reset_index().rename(columns={'index':'Type'})
                temp_df['Observed Value'] = model
            
            perf_df = pd.concat([perf_df,temp_df])

    return pd.concat([final_df,perf_df]).sort_values(['Type',metrics[0]],ascending=[True,False]).set_index(['Observed Value','Type']).fillna(0)
    


def MLManualPipeline(df,
                     Features,
                     Target,
                     model,
                     balance_target_observations=[0,.25],
                     scaler_=None,
                     test_size=.3,
                     random_state=42,
                     include_narrative=1,
                     rf_estimators=50,
                     log_max_it=100,
                     SequenceNumber=0,
                     time_model=1,
                     xgb_objective='binary:logistic',
                     xgb_eval_metric='logloss'):
    
    start_time = timeit.default_timer()
        
    generated_models = {}
    
    # Create Copy to ensure original data is not altered
    df = df.copy()

    if balance_target_observations[0]==1:
        df = BalanceTargetDistribution(df=df,
                                       Target=Target,
                                       desired_percentage=balance_target_observations[1])
        balance_target_observations = f'{balance_target_observations[1]}'
    else:
        balance_target_observations = '0'
        
    # If features not specified, entire Dataset to be processed (less Target), otherwise include only features
    if len(Features) == 0:
        Features = list(df.drop(Target,axis=1).columns)
        X = np.array(df[Features].copy())
        df_len = len(df)
        feature_count = len(X[0])
    else:
        X = np.array(df[Features])
        df_len = len(df)
        feature_count = len(X[0])
        
    # Create Target Array - Target already provided as a List
    y = np.array(df[Target].squeeze())
    target_vc = df[Target].value_counts()
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    
    if scaler_ in scaler_dict.keys():
        scaler = scaler_dict[scaler_]
        X_train = scaler.fit_transform(X_train)
        x_test = scaler.transform(X_test)
    else:
        scaler = None
        
    if include_narrative==1:
        print(f"Total Number of Records in Dataset: {df_len}\ntotal features: {feature_count}\nTarget Distribution:\n{target_vc}\n")
        print(f"Training Data Set:\nTraining Features:{len(X_train)}, Training Target:{len(y_train)}\nTraining Target Distribution:\n{pd.DataFrame(y_train).value_counts()}\n")
        print(f"Testing Data Set:\nTest Features:{len(X_test)}, Test Target:{len(y_test)}Training Target Distribution:\n{pd.DataFrame(y_test).value_counts()}\n")
        
    if model=='Logistic Regression':
        
        # Create Model
        logreg=LogisticRegression(max_iter=log_max_it)
        
        # Train Model
        logreg.fit(X_train, y_train)
        
        # Predict on Text
        y_pred = logreg.predict(X_test)
        
        # Generate Test DataFrame
        result_df = pd.concat([pd.DataFrame(y_pred,columns=['PREDICTION']),pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        
        # Create Feature Importance DataFrame
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':np.abs(logreg.coef_[0]),}).sort_values(by='IMPORTANCE',ascending=False)
        
        # Generate Results and Dataframe
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        
        performance['RunTime'] = stop_time
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':logreg,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}
        
        try:
            # Generate a Balanced Variant of the Logistic Regression Where 
            perc_dist = len(df[df[Target]==0])/len(df)
            if perc_dist>.6:
                lr0=LogisticRegression(max_iter=log_max_it,class_weight='balanced')
                lr0.fit(X_train, y_train)
                y_pred_rf = lr0.predict(X_test)
                result_df = pd.concat([pd.DataFrame(y_pred_rf,columns=['PREDICTION']),
                                       pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
                feature_importance = pd.DataFrame({'FEATURE':Features,
                                                   'IMPORTANCE':rf.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
                result_df, performance = ClassificationMetrics(df=result_df,
                                                               model='Logistic Regression - Balanced',
                                                               scaler=scaler_,
                                                               balance=balance_target_observations,
                                                               sequence_num=SequenceNumber+1000000)
                stop_time = timeit.default_timer() - start_time
                performance['RunTime'] = stop_time
                generated_models[SequenceNumber+1000000] = {'ModelType':'Logistic Regression - Balanced',
                                                        'Model':lr0,
                                                        'Scaler':scaler,
                                                        'FeatureImportance':feature_importance,
                                                        'BinaryResultDF':result_df,
                                                        'ModelPerformance':performance}
        except:
            print('Attempted to Review Random Forrest - Balanced, could not')

    elif model =='Decision Tree':    
        ############################################ ESTIMATORS
        dt = DecisionTreeClassifier(random_state=random_state)
        dt.fit(X_train, y_train)
        y_pred_dt = dt.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_dt,columns=['PREDICTION']),pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':dt.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        
        
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':dt,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}

    elif model =='Random Forest':    
        ############################################ ESTIMATORS
        rf = RandomForestClassifier(random_state=random_state, n_estimators=rf_estimators)
        rf.fit(X_train, y_train)
        y_pred_rf = rf.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_rf,columns=['PREDICTION']),
                               pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':rf.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':rf,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}
        
        try:
            # Generate a Balanced Variant of the Random Forest Where 
            perc_dist = len(df[df[Target]==0])/len(df)
            if perc_dist>.6:
                rf0 = RandomForestClassifier(random_state=random_state, n_estimators=rf_estimators,class_weight='balanced')
                rf0.fit(X_train, y_train)
                y_pred_rf = rf0.predict(X_test)
                result_df = pd.concat([pd.DataFrame(y_pred_rf,columns=['PREDICTION']),
                                       pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
                feature_importance = pd.DataFrame({'FEATURE':Features,
                                                   'IMPORTANCE':rf.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
                result_df, performance = ClassificationMetrics(df=result_df,
                                                               model='Random Forest - Balanced',
                                                               scaler=scaler_,
                                                               balance=balance_target_observations,
                                                               sequence_num=SequenceNumber+1000000)
                stop_time = timeit.default_timer() - start_time
                performance['RunTime'] = stop_time
                generated_models[SequenceNumber+1000000] = {'ModelType':'Random Forest - Balanced',
                                                        'Model':rf0,
                                                        'Scaler':scaler,
                                                        'FeatureImportance':feature_importance,
                                                        'BinaryResultDF':result_df,
                                                        'ModelPerformance':performance}
        except:
            print('Attempted to Review Random Forrest - Balanced, could not')
                
    elif model == 'Gradient Boosting':
        gb = GradientBoostingClassifier()
        gb.fit(X_train, y_train)
        y_pred_gb = gb.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_gb,columns=['PREDICTION']),pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':gb.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':gb,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}
    elif model == 'Ada':
        ada = AdaBoostClassifier()
        ada.fit(X_train, y_train)
        y_pred_ada = ada.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_ada,columns=['PREDICTION']),pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':ada.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':ada,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}
        
    elif model == 'Extra Tree':
        et = ExtraTreesClassifier()
        et.fit(X_train, y_train)
        y_pred_et = et.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_et,columns=['PREDICTION']),pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':et.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':et,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}
        
    elif model == 'XGBoost':
        xgb_ = xgb.XGBClassifier(objective=xgb_objective,
                                eval_metric=xgb_eval_metric,
                                use_label_encoder=False,
                                random_state=random_state)
        xgb_.fit(X_train, y_train)
        y_pred_et = xgb_.predict(X_test)
        result_df = pd.concat([pd.DataFrame(y_pred_et,columns=['PREDICTION']),
                               pd.DataFrame(y_test,columns=['ACTUAL'])],axis=1)
        feature_importance = pd.DataFrame({'FEATURE':Features,
                                           'IMPORTANCE':xgb_.feature_importances_}).sort_values(by='IMPORTANCE',ascending=False)
        
        result_df, performance = ClassificationMetrics(df=result_df,
                                                       model=model,
                                                       scaler=scaler_,
                                                       balance=balance_target_observations,
                                                       sequence_num=SequenceNumber)
        stop_time = timeit.default_timer() - start_time
        performance['RunTime'] = stop_time
        
        generated_models[SequenceNumber] = {'ModelType':model,
                                            'Model':xgb,
                                            'Scaler':scaler,
                                            'FeatureImportance':feature_importance,
                                            'BinaryResultDF':result_df,
                                            'ModelPerformance':performance}    
    else:
        print('Model Not Defined, please update function')
        
    performance_metrics = pd.DataFrame()
    for key in generated_models.keys():
        performance_metrics = pd.concat([performance_metrics,generated_models[key]['ModelPerformance']])
        
    return generated_models,performance_metrics

In [ ]:
def train_neural_network(X,
                y,
                input_dim,
                metrics,
                hidden_layer_sizes,
                activation, 
                optimizer,
                learning_rate,
                batch_size,
                num_epochs,
                validation_split,
                verbose=0):
                       

    # Build the model.
    model = build_binary_classification_model(input_dim=input_dim,
                                              hidden_layer_sizes=hidden_layer_sizes,
                                              activation=activation, 
                                              optimizer=optimizer,
                                              learning_rate=learning_rate,
                                              metrics=metrics)
    
    print(model.summary())     
                        
    # Train the model.
    history = model.fit(x=X,
                        y=y,
                        batch_size=batch_size,
                        epochs=num_epochs,
                        validation_split=validation_split,
                        verbose=verbose)

    # Retrieve the training metrics (after each train epoch) and the final test
    # accuracy.
    train_accuracy = history.history['accuracy']
    val_accuracy = history.history['val_accuracy']
    plt.figure(figsize=(15,5))
    plt.plot(train_accuracy, label='train_accuracy')
    plt.plot(val_accuracy, label='validation accuracy')
    plt.xticks(range(num_epochs))
    plt.xlabel('Train epochs')
    plt.ylim(0, 1)
    plt.legend()
    plt.show()
    
 
    return history,model

    
def neural_network(X_df,
                   y_df,
                   input_dim, 
                   hidden_layer_sizes,
                   activation,
                   optimizer,
                   learning_rate,
                   metrics,
                   verbose=0):

    """Build a binary classification model using Keras.

      Args:
        input_dim: Number of features in the input data.
        hidden_layer_sizes: A list with the number of units in each hidden layer.
        activation: The activation function to use for the hidden layers.
        optimizer: The optimizer
        learning_rate: The desired learning rate for the optimizer.

      Returns:
        model: A tf.keras model.
    """
    # Instantiate Model
    model = keras.models.Sequential()

    # Add Input Layer
    model.add(layers.InputLayer(input_shape=(input_dim,)))

    # Add Hidden Layers
    for nodes in hidden_layer_sizes:
        model.add(layers.Dense(units=nodes, activation=activation))

    # Add Output Layer
    model.add(layers.Dense(units=1, activation='sigmoid'))

    # Configure optimizer and compile the model
    if optimizer == 'sgd':
        optimizer = keras.optimizers.SGD(learning_rate=learning_rate)
    elif optimizer == 'adam':
        optimizer = keras.optimizers.legacy.Adam(learning_rate=learning_rate)

    model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=metrics)

    return model