In [1]:
import pandas as pd
import numpy as np
import datetime

import sys
sys.path.append("/Users/derekdewald/Documents/Python/Github_Repo/d_py_functions")

from synthetic_member import generate_synthetic_dataset

final_mbr_df, final_txn_df = generate_synthetic_dataset()

In [2]:
from utility_functions import view_df
view_df()

In [3]:
final_mbr_df.head()

   MEMBERNBR  STATUS    BRANCHNAME            CITY       CLASSIFICATION   AGE  LIQUID_ASSETS  PRIMARY_IS_BEEM  KIDS  HOME_OWNER  ANNUAL_INCOME  DURATION  CONSUMER_DEBT  MORTGAGE_DEBT  BILL_PAY_DEBIT  POS_TXN_DEBIT  INVESTMENT_DEBIT  PAYROLL_DEPOSIT  OTHER_DEPOSIT  NUMBER_KIDS  PERC_SPENDING_KNOWN  PERC_INCOME_KNOWN  MORTGAGE_BALANCE  DEPOSIT_BALANCE  PERC_MORTGAGE  PERC_DEPOSIT  ENGAGEMENT_SCORE       MONTH  EXP_GROWTH MBR_GROWTH_PROFILE  quarters_remaining  DEPOSIT_GROWTH  LOAN_GROWTH  INCOME_GROWTH  TXN_GROWTH  DEPOSIT_IMPACT  LOAN_IMPACT  INCOME_IMPACT  TXN_IMPACT  RANDOM_CLOSE  HEALTH_CLOSE
0          1  Active  BRANCHNAME 1  West Vancouver  FIXED_INCOME_SENIOR 78.08      48,072.82                1  0.14           1      52,899.28      2.78      24,113.90     201,643.84          581.66         987.89            345.02           213.39       2,436.15         0.00                 0.48               0.66        201,643.84             0.00           1.00          0.00              0.50  2024-01-30        0.97          NO_CHANGE                   1            0.97         0.97           1.00        0.97            0.00         0.00           0.00        0.00           NaN           NaN
1          2  Active  BRANCHNAME 1  West Vancouver     RETIREMENT_READY 78.04     796,289.29                1  0.39           1     100,011.55     11.89      21,133.90     742,754.92        1,069.97       2,100.40          2,483.65         4,415.91       1,852.49         0.00                 0.74               0.86        742,754.92       796,289.29           1.00          1.00              1.00  2024-01-30        0.97          NO_CHANGE                   1            0.97         0.97           1.00        0.97            0.00         0.00           0.00        0.00           NaN           NaN
2          3  Active  BRANCHNAME 1  West Vancouver     RETIREMENT_READY 62.36     724,785.64                1  0.49           1     149,244.07     15.08      24,180.69     320,447.86        3,079.67       2,838.51          2,715.95         6,974.78       2,902.52         1.00                 0.72               0.88        320,447.86       724,785.64           1.00          1.00              1.00  2024-01-30        0.97          NO_CHANGE                   1            0.97         0.97           1.00        0.97            0.00         0.00           0.00        0.00           NaN           NaN
3          4  Active  BRANCHNAME 1  West Vancouver  FIXED_INCOME_SENIOR 66.18      59,321.10                0  0.08           1      40,256.42      2.21      27,813.49     311,883.27            0.00           0.00              0.00             0.00           0.00         0.00                 0.57               0.92              0.00             0.00           0.00          0.00              0.00  2024-01-30        0.97          NO_CHANGE                   1            0.97         0.97           1.00        0.97            0.00         0.00           0.00        0.00           NaN           NaN
4          5  Active  BRANCHNAME 1  West Vancouver  FIXED_INCOME_SENIOR 72.83      39,493.54                1  0.88           1      40,446.27     19.95      16,431.85     371,807.51          638.52       1,240.82            271.66           263.21       2,624.45         2.00                 0.67               0.98        371,807.51        39,493.54           1.00          1.00              0.70  2024-01-30        0.97          NO_CHANGE                   1            0.97         0.97           1.00        0.97            0.00         0.00           0.00        0.00           NaN           NaN

In [6]:
from data_validation import column_statistical_review

column_statistical_review(final_mbr_df,
                          column_name='AGE',
                          cummulative_sum=True,
                          cummulative_percent=True)

                                                   AGE
TOTAL_RECORDS                                  3775357
UNIQUE_RECORDS                                    7345
NULL_RECORDS                                         0
MODE                                           [24.96]
SUM                                     209,910,786.47
MEAN                                             55.60
STD_DEV                                          20.99
MEDIAN                                           59.80
MAX                                              91.44
MIN                                              18.00
ZERO_RECORDS                                         0
NON_ZERO_RECORDS                               3775357
Decile 1                                         25.25
Decile 2                                         29.56
Decile 3                                         40.30
Decile 4                                         51.22
Decile 5                                         59.80
Decile 6                                         66.26
Decile 7                                         70.81
Decile 8                                         75.77
Decile 9                                         80.84
Decile 10                                        91.44
Cummulative Sum at Decile 1               8,730,923.35
Cummulative Sum at Decile 2              19,008,268.15
Cummulative Sum at Decile 3              31,980,534.46
Cummulative Sum at Decile 4              49,334,256.83
Cummulative Sum at Decile 5              70,658,180.81
Cummulative Sum at Decile 6              94,479,631.24
Cummulative Sum at Decile 7             120,349,630.80
Cummulative Sum at Decile 8             148,015,436.13
Cummulative Sum at Decile 9             177,558,323.88
Cummulative Sum at Decile 10            209,910,786.47
Cummulative Sum Percentage at Decile 1            4.16
Cummulative Sum Percentage at Decile 2            9.06
Cummulative Sum Percentage at Decile 3           15.24
Cummulative Sum Percentage at Decile 4           23.50
Cummulative Sum Percentage at Decile 5           33.66
Cummulative Sum Percentage at Decile 6           45.01
Cummulative Sum Percentage at Decile 7           57.33
Cummulative Sum Percentage at Decile 8           70.51
Cummulative Sum Percentage at Decile 9           84.59
Cummulative Sum Percentage at Decile 10         100.00

In [21]:
target_cols = ['AGE']

def review_one_group(g):
    # run your function for each target column, side-by-side
    frames = [column_statistical_review(g, col,
                                        partitions=10,
                                        top_records_to_include=5,
                                        cummulative_sum=True,
                                        cummulative_percent=True)
              for col in target_cols]
    return pd.concat(frames, axis=1)

In [22]:
df = final_mbr_df[['STATUS','BRANCHNAME','CITY','CLASSIFICATION','AGE']]

result = (
    df.groupby(['STATUS','CLASSIFICATION'], dropna=False, sort=False)
      .apply(review_one_group, include_groups=False)
)

d = result.reset_index()

In [23]:
d.head(40)

    STATUS       CLASSIFICATION                                 level_2           AGE
0   Active  FIXED_INCOME_SENIOR                           TOTAL_RECORDS        904262
1   Active  FIXED_INCOME_SENIOR                          UNIQUE_RECORDS          2645
2   Active  FIXED_INCOME_SENIOR                            NULL_RECORDS             0
3   Active  FIXED_INCOME_SENIOR                                    MODE       [68.69]
4   Active  FIXED_INCOME_SENIOR                                     SUM 70,714,482.19
5   Active  FIXED_INCOME_SENIOR                                    MEAN         78.20
6   Active  FIXED_INCOME_SENIOR                                 STD_DEV          7.23
7   Active  FIXED_INCOME_SENIOR                                  MEDIAN         78.23
8   Active  FIXED_INCOME_SENIOR                                     MAX         91.44
9   Active  FIXED_INCOME_SENIOR                                     MIN         65.00
10  Active  FIXED_INCOME_SENIOR                            ZERO_RECORDS             0
11  Active  FIXED_INCOME_SENIOR                        NON_ZERO_RECORDS        904262
12  Active  FIXED_INCOME_SENIOR                                Decile 1         68.20
13  Active  FIXED_INCOME_SENIOR                                Decile 2         70.68
14  Active  FIXED_INCOME_SENIOR                                Decile 3         73.21
15  Active  FIXED_INCOME_SENIOR                                Decile 4         75.73
16  Active  FIXED_INCOME_SENIOR                                Decile 5         78.23
17  Active  FIXED_INCOME_SENIOR                                Decile 6         80.72
18  Active  FIXED_INCOME_SENIOR                                Decile 7         83.17
19  Active  FIXED_INCOME_SENIOR                                Decile 8         85.69
20  Active  FIXED_INCOME_SENIOR                                Decile 9         88.19
21  Active  FIXED_INCOME_SENIOR                               Decile 10         91.44
22  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 1  6,052,071.75
23  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 2 12,329,200.31
24  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 3 18,835,187.71
25  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 4 25,569,612.93
26  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 5 32,530,533.94
27  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 6 39,717,686.08
28  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 7 47,127,280.90
29  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 8 54,761,084.05
30  Active  FIXED_INCOME_SENIOR             Cummulative Sum at Decile 9 62,622,507.17
31  Active  FIXED_INCOME_SENIOR            Cummulative Sum at Decile 10 70,714,482.19
32  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 1          8.56
33  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 2         17.44
34  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 3         26.64
35  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 4         36.16
36  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 5         46.00
37  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 6         56.17
38  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 7         66.64
39  Active  FIXED_INCOME_SENIOR  Cummulative Sum Percentage at Decile 8         77.44

In [83]:
from data_validation import column_segmenter,get_decile,get_segments
from utility_functions import inspect_function

                                            AGE
TOTAL_RECORDS                           3556363
UNIQUE_RECORDS                             5147
NULL_RECORDS                             303971
MODE                                      [0.0]
SUM                              166,171,671.13
MEAN                                      51.09
STD_DEV                                   31.04
MEDIAN                                    62.82
MAX                                       91.44
MIN                                        0.00
ZERO_RECORDS                             794769
NON_ZERO_RECORDS                        2457623
Top 1             Value: 0.0, Frequency: 794769
Top 2             Value: nan, Frequency: 303971
Top 3              Value: 67.41, Frequency: 881
Top 4              Value: 67.57, Frequency: 877
Top 5              Value: 67.49, Frequency: 875
Top 6              Value: 67.25, Frequency: 867
Top 7              Value: 67.65, Frequency: 866
Top 8              Value: 67.73, Frequency: 865
Top 9              Value: 67.33, Frequency: 863
Top 10             Value: 68.36, Frequency: 858
Decile 1                                   0.00
Decile 2                                   0.00
Decile 3                                  46.46
Decile 4                                  57.01
Decile 5                                  62.82
Decile 6                                  67.92
Decile 7                                  72.16
Decile 8                                  76.60
Decile 9                                  81.55
Decile 10                                 91.44

In [175]:
column_statistical_review(final_mbr_df,'AGE',remove_zero_from_decile=True)

                                           AGE
TOTAL_RECORDS                          3556363
UNIQUE_RECORDS                            5147
NULL_RECORDS                            303971
MODE                                     [0.0]
SUM                             166,171,671.13
MEAN                                     51.09
STD_DEV                                  31.04
MEDIAN                                   62.82
MAX                                      91.44
MIN                                       0.00
ZERO_RECORDS                            794769
NON_ZERO_RECORDS                       2457623
Top 1             Value: 67.41, Frequency: 881
Top 2             Value: 67.57, Frequency: 877
Top 3             Value: 67.49, Frequency: 875
Top 4             Value: 67.25, Frequency: 867
Top 5             Value: 67.65, Frequency: 866
Top 6             Value: 67.73, Frequency: 865
Top 7             Value: 67.33, Frequency: 863
Top 8             Value: 68.36, Frequency: 858
Top 9             Value: 66.73, Frequency: 858
Top 10            Value: 68.12, Frequency: 854
Decile 1                                 48.40
Decile 2                                 56.75
Decile 3                                 61.00
Decile 4                                 65.70
Decile 5                                 68.83
Decile 6                                 72.06
Decile 7                                 75.41
Decile 8                                 78.81
Decile 9                                 83.80
Decile 10                                91.44

In [76]:
top_x_records(s,column_name)

                                  AGE
Top 1    Value: 23.5, Frequency: 1163
Top 2   Value: 23.82, Frequency: 1151
Top 3   Value: 23.58, Frequency: 1150
Top 4   Value: 23.74, Frequency: 1147
Top 5   Value: 23.66, Frequency: 1145
Top 6   Value: 23.42, Frequency: 1143
Top 7    Value: 23.9, Frequency: 1142
Top 8   Value: 24.12, Frequency: 1139
Top 9   Value: 24.87, Frequency: 1138
Top 10   Value: 24.2, Frequency: 1136

In [72]:
def top_x_records(series,column_name=None,record_count=10):

    if not column_name:
        column_name = f'Top {record_count} Values' 
    
    vc = series.value_counts(dropna=False).head(record_count)
    
    top_instances = vc.to_frame("count")
    top_instances[column_name] = (
        "Value: " + top_instances.index.astype(str)
        + ", Frequency: " + top_instances["count"].astype(str)
    )
    
    top_instances = top_instances[[column_name]]
    top_instances.index = [f"Top {i+1}" for i in range(len(top_instances))]

    return top_instances

top_x_records(final_mbr_df['AGE'],'AGE')

                                  AGE
Top 1    Value: 23.5, Frequency: 1163
Top 2   Value: 23.82, Frequency: 1151
Top 3   Value: 23.58, Frequency: 1150
Top 4   Value: 23.74, Frequency: 1147
Top 5   Value: 23.66, Frequency: 1145
Top 6   Value: 23.42, Frequency: 1143
Top 7    Value: 23.9, Frequency: 1142
Top 8   Value: 24.12, Frequency: 1139
Top 9   Value: 24.87, Frequency: 1138
Top 10   Value: 24.2, Frequency: 1136

In [ ]:

def ColumnStatisticalReview(df,
                            column_name,
                            partitions=10,
                            top_x_records=10,
                            exclude_blanks_from_segments=1,
                            exclude_zeroes_from_segments=1):

    '''
    Function to Conduct a Simple Statistical Review of a Column, Including Understanding the positional distribution
    of values. 

    Args:
        column_name (str): Name of Column

        partitions (int): Number of partitions to include (Decile 10)

        exclude_blanks_from_segments (int): Binary Flag, whether to exclude Blank Values from Segment determination.
        If blank values are excluded it gives a better representation for the members of the set, however it might 
        provide a misleading representation of the population.

        exclude_zeroes_from_segments (int): As above, with respect to 0 values. Is processed after exclude_blanks, as
        such it can include both blanks and true 0 values. 


    '''

    temp_dict = {}
    
    is_numeric = pd.api.types.is_numeric_dtype(df[column_name])
    
    if is_numeric:
        temp_dict['SUM'] = df[column_name].sum()
        temp_dict['MEAN'] = df[column_name].mean()
        temp_dict['STD_DEV'] =  df[column_name].std()
        temp_dict['MEDIAN'] = df[column_name].median()
        temp_dict['MAX'] = df[column_name].max()
        temp_dict['MIN'] = df[column_name].min()
        
    temp_dict['TOTAL_RECORDS'] = len(df)
    temp_dict['UNIQUE_RECORDS'] = len(df.drop_duplicates(column_name))
    temp_dict['NA_RECORDS'] = len(df[df[column_name].isna()])
    temp_dict['NULL_RECORDS'] = len(df[df[column_name].isnull()])
    
    if is_numeric:
        temp_dict['ZERO_RECORDS'] = len(df[df[column_name]==0])
        temp_dict['NON_ZERO_RECORDS'] = len(df[df[column_name]!=0])    

    temp_df = pd.DataFrame(temp_dict.values(),index=temp_dict.keys(),columns=[column_name])
    
    if temp_dict['TOTAL_RECORDS']==len(df[df[column_name].isnull()]):
        return temp_df

    # Add top X records Based on Frequency
    if top_x_records>0:
        top_instances = pd.DataFrame(df[column_name].value_counts(dropna=False).head(top_x_records)).reset_index().rename(columns={column_name:'count','index':column_name})
        if len(top_instances)>0:
            top_instances[column_name] = top_instances.apply(lambda row: f"Value: {row[column_name]}, Frequency: {row['count']}", axis=1)
            top_instances['index'] = [f"Top {x+1}" for x in range(len(top_instances[column_name]))]
            top_instances = top_instances.drop('count',axis=1).set_index('index')
            temp_df = pd.concat([temp_df,top_instances])
        
    if (partitions>0)&(pd.api.types.is_numeric_dtype(df[column_name]))&(temp_dict['UNIQUE_RECORDS']>1):
        segment_df = ColumnPartitioner(df=df,
                                       column_name=column_name,
                                       partitions=partitions,
                                       exclude_blanks=exclude_blanks_from_segments,
                                       exclude_zeros=exclude_zeroes_from_segments,
                                       return_value='')
        
        seg_val_df = ColumnPartitioner(df=df,
                                           column_name=column_name,
                                           partitions=partitions,
                                           exclude_blanks=exclude_blanks_from_segments,
                                           exclude_zeros=exclude_zeroes_from_segments,
                                           return_value='agg_value').rename(columns={'VALUE':column_name})

        return pd.concat([temp_df,segment_df.T,seg_val_df])
    return temp_df