In [ ]:
class_attribute_dict = {
    'liquidity':['liqudity_ck_deposit','liqudity_ck_sav_deposit','liquidity_td_deposit','liqudity_mutual_funds','liqudity_options_trading'],
    'liability':['liability_loan','liability_overdraft','liability_credit_card','liability_mortgage','liability_options_trading'],
    'complexity':['complexity_factor1','complexity_factor2','complexity_factor3'],
    'other_attributes':['other_attributes1','other_attributes2','other_attributes3','other_attributes4','other_attributes5',
                        'other_attributes6','other_attributes7'],
    'test_attribute':['test_attributes1','test_attributes2','test_attributes3','test_attributes4','test_attributes5','test_attributes6','test_attributes7'],
}

df = (
    pd.Series(class_attribute_dict)
      .explode()
      .reset_index()
      .rename(columns={"index": "Class", 0: "Subclass"})
)

df

In [4]:
import pandas as pd
import numpy as np

import sys
sys.path.append("/Users/derekdewald/Documents/Python/Github_Repo/d_py_functions")

In [2]:
python_hints = {}

In [13]:
python_hints['rng'] = {
    'Process':'',
    'Categorization':"",
    'Word':"",
    'Definition':'Using rng = np.random.default_rng(seed) opposed to np.random, enables the ability to generate as Deterministic Stochastic Process, which support the ability to replicate and prove outcomes, as well as additional control to expierementation',
    'Code':'''
    seed = 42
    rng = np.random.default_rng(seed)
    '''
}

python_hints['rng']

{'Process': '',
 'Categorization': '',
 'Word': '',
 'Definition': 'Using rng = np.random.default_rng(seed) opposed to np.random, enables the ability to generate as Deterministic Stochastic Process, which support the ability to replicate and prove outcomes, as well as additional control to expierementation',
 'Code': '\n    seed = 42\n    rng = np.random.default_rng(seed)\n    '}

In [1]:
rng.uniform(0.5, 1.0, size=len(mbr_df))

NameError: name 'rng' is not defined

In [ ]:
rng.dirichlet(np.ones(34))

In [ ]:
rng.choice([f"LEGACY_{x+1}" for x in range(len(legacy_distribution))], size=unique_records, p=np.array(legacy_distribution))

## Group By

In [21]:
from data_sets import create_baseball_stats

df = create_baseball_stats()

In [23]:
summary = (
    df
    .groupby("PLAYER")
    .agg(
        GAMES_PLAYED=("GAME_NO", "count"),
        H=("H", "sum"),
        AB=("AB", "sum"),
        R=("R", "sum"),
        HR=('HR','sum'),
        RBI=("RBI", "sum"),
    )
    .reset_index()
)
summary['BA'] = summary['H']/summary['AB']
summary

,PLAYER,GAMES_PLAYED,H,AB,R,HR,RBI,BA
0,Benny 'The Jet' Rodriguez,810,792,3212,420,50,333,0.246575
1,Casey 'Back Back Back' Jones,810,739,3241,380,55,308,0.228016
2,Crash Davis,810,759,3115,416,58,379,0.243660
3,Henry Rowengartner,810,667,3304,358,32,312,0.201877
4,Homer Simpson,810,693,3370,363,48,317,0.205638
5,Jake Taylor,810,763,3213,361,56,334,0.237473
6,Kenny Powers,810,677,3319,361,38,302,0.203977
7,Pedro Cerrano,810,765,3197,407,58,334,0.239287
8,Rick 'Wild Thing' Vaughn,810,712,3242,376,42,318,0.219618
9,Roger Dorn,810,710,3164,404,45,335,0.224399
10,Roy Hobbs,810,797,3186,423,81,353,0.250157
11,Willie Mays Hays,810,719,3271,388,29,304,0.219810

## Test When Values are Near Equal